services:
  invidious:
    image: quay.io/invidious/invidious:8ab339396a48c6ce661e71e9a988a600ff06d7d1
    restart: unless-stopped
    environment:
      INVIDIOUS_CONFIG: |
        db:
          dbname: "{{ POSTGRES_DB }}"
          user: "{{ POSTGRES_USER }}"
          password: "{{ POSTGRES_PASSWORD }}"
          host: db
          port: 5432
        check_tables: true
        domain: "invidious.{{ domain }}"
        https_only: true
        popular_enabled: false
        statistics_enabled: true
        registration_enabled: false
        login_enabled: false
    networks:
      - reverse-proxy
      - default
    depends_on:
      - db
    labels:
      caddy: "invidious.{{ domain }}"
      # caddy.reverse_proxy.header_up_0: "-User-Agent"
      caddy.reverse_proxy: {% raw %} "{{upstreams 3000}}" {% endraw %}

  db:
    image: docker.io/library/postgres:14
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
      - ./src/config/sql:/config/sql
      - ./src/docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
      POSTGRES_USER: "{{ POSTGRES_USER }}"
      POSTGRES_DB: "{{ POSTGRES_DB }}"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "{{ POSTGRES_USER }}", "-d", "{{ POSTGRES_DB }}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  db:

networks:
  reverse-proxy:
    external: true
