services:
  cryptpad:
    image: promasu/cryptpad:v5.0.0-nginx-alpine
    restart: unless-stopped
    networks:
      - reverse-proxy
      - default
    volumes:
      - {{ apps_path }}/cryptpad//config.js:/cryptpad/config/config.js
      - blob:/cryptpad/blob
      - block:/cryptpad/block
      - customize:/cryptpad/customize
      - data:/cryptpad/data
      - datastore:/cryptpad/datastore

    environment:
      CPAD_MAIN_DOMAIN: "cryptpad.{{ domain }}"
      CPAD_SANDBOX_DOMAIN: "sandbox.cryptpad.{{ domain }}"
      # since we don't have TLS in nginx, caddy complains going http2
      CPAD_HTTP2_DISABLE: "true"

    labels:
      caddy: "cryptpad.{{ domain }}, sandbox.cryptpad.{{ domain }}"
      caddy.reverse_proxy: {% raw %} "{{upstreams 80}}" {% endraw %}

volumes:
  blob:
  block:
  customize:
  data:
  datastore:

networks:
  reverse-proxy:
    external: true