services:
  freshrss:
    build: .
    restart: unless-stopped
    volumes:
      - data:/var/www/FreshRSS/data
      - extensions:/var/www/FreshRSS/extensions
    environment:
      CRON_MIN: '*/20'
      TZ: Europe/Berlin
    networks:
      - reverse-proxy
      - default
    labels:
      caddy: "freshrss.{{ domain }}"
      caddy.reverse_proxy.header_up_0: "-User-Agent"
      caddy.reverse_proxy: {% raw %} "{{upstreams 80}}" {% endraw %}

volumes:
  data:
  extensions:

networks:
  reverse-proxy:
    external: true
