#!/bin/bash

DATE=$(date "+%Y-%m-%d")
BACKUP_DEST=$HOME/backup/synapse

AGE_PUB_KEY={{ AGE_PUB_KEY }}

PREMIUMIZEME_FOLDER=$HOME/premiumize/synapse
PREMIUMIZEME_ID={{ PREMIUMIZEME_ID }}
PREMIUMIZEME_KEY={{ PREMIUMIZEME_KEY }}

STORAGEBOX_FOLDER=$HOME/storagebox/synapse

LOG_FOLDER=$HOME/backup/log
LOG_FILE=$LOG_FOLDER/synapse.log

APP_FOLDER="/home/uncloud/apps/synapse"

mkdir -p $BACKUP_DEST
mkdir -p $PREMIUMIZEME_FOLDER
mkdir -p $STORAGEBOX_FOLDER
mkdir -p $LOG_FOLDER

cd $APP_FOLDER

if ! docker-compose run --rm --no-deps -v $BACKUP_DEST:/backup -e DATE=$DATE --entrypoint '' synapse \
    tar czf /backup/synapse-backup-data-$DATE.tar.gz /data 2>> $LOG_FILE ; then
        echo "$(date) [error] could not backup data folder" >> $LOG_FILE
        exit 1
fi

if ! docker-compose run --rm --no-deps -v $BACKUP_DEST:/backup --entrypoint "" -e DATE=$DATE db \
    /bin/bash -c 'PGPASSWORD=$POSTGRES_PASSWORD pg_dump -h db $POSTGRES_DB -U $POSTGRES_USER -f /backup/synapse-backup-db-$DATE.pgdump' 2>> $LOG_FILE ; then
        echo "$(date) [error] could not backup database" >> $LOG_FILE
        exit 1
fi

if ! age -r $AGE_PUB_KEY $BACKUP_DEST/synapse-backup-data-$DATE.tar.gz > $BACKUP_DEST/synapse-backup-data-$DATE.tar.gz.age 2>> $LOG_FILE ; then
        echo "$(date) [error] could not encrypt data file" >> $LOG_FILE
        exit 1
fi

if ! age -r $AGE_PUB_KEY $BACKUP_DEST/synapse-backup-db-$DATE.pgdump > $BACKUP_DEST/synapse-backup-db-$DATE.pgdump.age 2>> $LOG_FILE ; then
        echo "$(date) [error] could not encrypt database file" >> $LOG_FILE
        exit 1
fi

if ! rm -f $BACKUP_DEST/synapse-backup-data-$DATE.tar.gz 2>> $LOG_FILE ; then
        echo "$(date) [error] could not delete non encrypted data file" >> $LOG_FILE
        exit 1
fi

if ! rm -f $BACKUP_DEST/synapse-backup-db-$DATE.pgdump 2>> $LOG_FILE ; then
        echo "$(date) [error] could not delete non encrypted database file" >> $LOG_FILE
        exit 1
fi

# if ! echo $PREMIUMIZEME_KEY | sshfs -o password_stdin,StrictHostKeyChecking=no $PREMIUMIZEME_ID@sftp.premiumize.me:/uncloud/backup/synapse $PREMIUMIZEME_FOLDER 2>> $LOG_FILE ; then
#         echo "$(date) [error] could not mount premiumizeme folder" >> $LOG_FILE
#         exit 1
# fi

if ! sshfs -p 23 u299808@u299808.your-storagebox.de:/home/backup/synapse $STORAGEBOX_FOLDER 2>> $LOG_FILE ; then
        echo "$(date) [error] could not mount storagebox folder" >> $LOG_FILE
        exit 1
fi

if ! find $BACKUP_DEST -mtime +7 -type f | xargs rm -f 2>> $LOG_FILE ; then
        echo "$(date) [error] could not remove old local backup files" >> $LOG_FILE
        exit 1
fi

if ! find $PREMIUMIZEME_FOLDER -mtime +7 -type f | xargs rm -f 2>> $LOG_FILE ; then
        echo "$(date) [error] could not remove old premimuzeme backup files" >> $LOG_FILE
        exit 1
fi

if ! find $STORAGEBOX_FOLDER -mtime +7 -type f | xargs rm -f 2>> $LOG_FILE; then
        echo "$(date) [error] could not remove old storagebox backup files" >> $LOG_FILE
        exit 1
fi

# if ! cp $BACKUP_DEST/synapse-backup-data-$DATE.tar.gz.age $PREMIUMIZEME_FOLDER/ 2>> $LOG_FILE ; then
#         echo "$(date) [error] could not copy data backup to premimuzeme" >> $LOG_FILE
#         exit 1
# fi

# if ! cp $BACKUP_DEST/synapse-backup-db-$DATE.pgdump.age $PREMIUMIZEME_FOLDER/ 2>> $LOG_FILE ; then
#         echo "$(date) [error] could not copy database backup to premimuzeme" >> $LOG_FILE
#         exit 1
# fi

if ! cp $BACKUP_DEST/synapse-backup-data-$DATE.tar.gz.age $STORAGEBOX_FOLDER/ 2>> $LOG_FILE ; then
        echo "$(date) [error] could not copy data backup to storagebox" >> $LOG_FILE
        exit 1
fi

if ! cp $BACKUP_DEST/synapse-backup-db-$DATE.pgdump.age $STORAGEBOX_FOLDER/ 2>> $LOG_FILE ; then
        echo "$(date) [error] could not copy database backup to storagebox" >> $LOG_FILE
        exit 1
fi

# if ! umount $PREMIUMIZEME_FOLDER 2>> $LOG_FILE ; then
#         echo "$(date) [error] could not unmount premiumizeme folder" >> $LOG_FILE
#         exit 1
# fi

if ! umount $STORAGEBOX_FOLDER 2>> $LOG_FILE ; then
        echo "$(date) [error] could not unmount storagebox folder" >> $LOG_FILE
        exit 1
fi

echo "$(date) [info] backup successful" >> $LOG_FILE