services:
  synapse:
    hostname: {{ MATRIX_HOSTNAME }}
    image: docker.io/matrixdotorg/synapse:v1.68.0
    restart: unless-stopped
    volumes:
      - {{ apps_path }}/synapse/data:/data
    depends_on:
      - db
    networks:
      - reverse-proxy
      - default
    labels:
      caddy: "matrix.{{ domain }}"
      caddy.request_body.max_size: "25MB"
      caddy.reverse_proxy: {% raw %} "{{upstreams 8448}}" {% endraw %}

  db:
    image: docker.io/postgres:10-alpine
    environment:
      - POSTGRES_DB=synapse
      - POSTGRES_USER={{ POSTGRES_USER }}
      - POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
      - POSTGRES_INITDB_ARGS=--encoding=UTF8 --locale=C
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:

networks:
  reverse-proxy:
    external: true