services:
  db:
    image: postgres:14.1-alpine
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
      POSTGRES_USER: "{{ POSTGRES_USER }}"
      POSTGRES_DB: "{{ POSTGRES_DB }}"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "{{ POSTGRES_USER }}", "-d", "{{ POSTGRES_DB }}"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  app:
    build: .
    image: uncloud/nextcloud:24.0.1-apache
    restart: unless-stopped
    networks:
      - reverse-proxy
      - default
    volumes:
      - nextcloud:/var/www/html
    depends_on:
      db:
        condition: service_healthy
    environment:
      POSTGRES_HOST: "db"
      POSTGRES_PASSWORD: "{{ POSTGRES_PASSWORD }}"
      POSTGRES_USER: "{{ POSTGRES_USER }}"
      POSTGRES_DB: "{{ POSTGRES_DB }}"
      NEXTCLOUD_ADMIN_USER: "{{ NEXTCLOUD_ADMIN_USER }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ NEXTCLOUD_ADMIN_PASSWORD }}"
      NEXTCLOUD_TRUSTED_DOMAINS: "nextcloud.{{ domain }}"
    labels:
      caddy: "nextcloud.{{ domain }}"
      caddy.reverse_proxy: {% raw %} "{{upstreams 80}}" {% endraw %}

volumes:
  nextcloud:
  db:

networks:
  reverse-proxy:
    external: true