services:
  prometheus:
    image: prom/prometheus:v2.34.0
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus
    networks:
      - default
      - metrics
    restart: unless-stopped

  loki:
    image: grafana/loki:2.5.0
    volumes:
      - loki:/loki
      - ./loki-config.yaml:/etc/loki/loki-config.yaml
    command: -config.file=/etc/loki/loki-config.yaml
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.5.0
    volumes:
      - /home/uncloud/backup/log:/home/uncloud/backup/log:ro
      - /var/log:/var/log:ro
      # read docker json logs
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      # connect docker daemon
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
    command: -config.file=/etc/promtail/promtail-config.yaml
    restart: unless-stopped

  grafana:
    image: grafana/grafana:8.4.6
    volumes:
      - grafana:/var/lib/grafana
      - ./grafana.ini:/etc/grafana/grafana.ini
      - ./datasources-prometheus.yaml:/etc/grafana/provisioning/datasources/prometheus.yaml
      - ./datasources-loki.yaml:/etc/grafana/provisioning/datasources/loki.yaml
    networks:
      - reverse-proxy
      - default
    restart: unless-stopped
    labels:
      caddy: "grafana.{{ domain }}"
      caddy.reverse_proxy: {% raw %} "{{upstreams 3000}}" {% endraw %}

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.39.3
    restart: unless-stopped
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro

volumes:
  grafana:
  prometheus:
  loki:

networks:
  reverse-proxy:
    external: true
  metrics:
    external: true