global:
  scrape_interval:     10s
  evaluation_interval: 10s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'caddy'
    static_configs:
      - targets: ['caddy:9000']

  - job_name: 'uncloud1'
    static_configs:
      - targets: ['{{ host_ip.stdout }}:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
