services:
  ots:
    build:
      context: "github.com/Luzifer/ots.git#v0.21.0"
    image: uncloud/ots:v0.21.0
    command: ['/usr/local/bin/ots', '--storage-type', 'redis']
    environment:
      REDIS_URL: tcp://redis:6379
      REDIS_KEY: ots
      # one week
      SECRET_EXPIRY: 604800
    networks:
      - reverse-proxy
      - default
    labels:
      caddy: "ots.{{ domain }}"
      caddy.reverse_proxy.header_up_0: "-User-Agent"
      caddy.reverse_proxy: {% raw %} "{{upstreams 3000}}" {% endraw %}

  redis:
    image: redis:6.2-alpine
    restart: always
    # save a snapshot of the DB every 60 seconds if at least 1 write operation was performed
    # reduces loglevel since the --save generates a lot of logs
    command: redis-server --save 20 1 --loglevel warning
    volumes: 
      - data:/data

volumes:
  data:

networks:
  reverse-proxy:
    external: true