services:
  libretranslate:
    build:
      context: https://github.com/LibreTranslate/LibreTranslate.git#main
      args:
        with_models: 'true'
    environment:
      LT_FRONTEND_LANGUAGE_SOURCE: "auto"
      LT_FRONTEND_LANGUAGE_TARGET: "en"
      LT_DISABLE_FILES_TRANSLATION: "true"
    image: uncloud/libretranslate:lastest
    networks:
      - reverse-proxy
    labels:
      caddy: "libretranslate.{{ domain }}"
      caddy.reverse_proxy: {% raw %} "{{upstreams 5000}}" {% endraw %}

networks:
  reverse-proxy:
    external: true